$black: #000;
$white: #edcced;
$grey: #bc99bc;
$darkgrey: #5e445e;
$purple: #441e9a;
$pink: #960f90;
$blue: #1b49c4;
$darkpurple: #1F001F;
$lightblue: #0969A2;

$padding: 10px;
$margin: 10px;

$font-size: 14px;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.4;

$large: 1000px;
$small: 320px;

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
@import url('normalize.css');

//Utilities
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

//Main styles
* {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main {
    min-height: 100%;
    width: 100%;
}

body {
    color: $grey;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    background: $darkpurple;
}

#create,
#update,
#delete {
    color: $darkpurple;
}


.sidebar {
    width: 100%;
    height: 100%;

    @media only screen and (min-width: $large) {
        float: left;
        width: 27%
    }

    .my-info {
        text-align: center;
        padding: $padding*3 0;
        border-bottom: 1px solid $darkgrey;

        .portfolio-image {
            border-radius: 50%;
        }

        h1,
        h2 {
            font-weight: normal;
        }

        h1,
        .name {
            font-size: 300%;
            padding-bottom: $padding;
        }

        h2 {
            font-size: 150%;
            white-space: pre;
            font-style: italic;
            padding-bottom: $padding;

            @media only screen and (min-width: $large) {
                font-size: 110%;
            }
        }


        .social {
            width: 168px;
            margin: $margin auto;

                a {
                    float: left;
                    width: 52px;
                    height: 52px;
                    margin: 0 $margin/5;
                    background: url(../images/social-sprite-purple.png) no-repeat;
                    text-indent: -9999px;

                    &.twitter {
                        background-position: 0px 0px;

                        &:hover {
                            background-position: 0px -50px;
                        }
                    }

                    &.github {
                        background-position: -51px 0px;

                        &:hover {
                            background-position: -51px -50px;
                        }
                    }

                    &.linkedin {
                        background-position: -103px 0px;

                        &:hover {
                            background-position: -103px -50px;
                        }
                    }
                }
        }

        a {
            text-decoration: none;

            .admin-buttons {
                background-color: $grey;
                width: 160px;
                text-align: center;
                margin: auto;
                margin-top: 10px;
                height: 25px;
                line-height: $line-height;
                border-radius: 10px;
                font-size: 110%;
                font-weight: 700;
            }
        }

    }

    .menus {
        text-align: center;

        @media only screen and (min-width: $large) {
            padding: $padding*2 $padding*3;
        }

        h3 {
            text-transform: uppercase;
            font-size: 250%;
            font-weight: normal;
            cursor: pointer;
            margin: $margin*2 $margin*11 $margin;

            @media only screen and (min-width: $small) {
                margin: $margin*2 auto $margin*2;
            }

            @media only screen and (min-width: $large) {
                margin: $margin*2 0 $margin 0;
                font-size: 150%;
                line-height: $line-height;
            }

            span.work {
                &:before {
                    content: "";
                    position: absolute;
                    left: -177px;
                    top: 15px;
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-left: 14px solid $grey;
                    border-bottom: 7px solid transparent;
                    border-right: 0px;
                }
            }

            span.about {
                &:before {
                    content: "";
                    position: absolute;
                    left: -185px;
                    top: 15px;
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-left: 14px solid $grey;
                    border-bottom: 7px solid transparent;
                    border-right: 0px;
                }
            }

            span.blogs {
                &:before {
                    content: "";
                    position: absolute;
                    left: -170px;
                    top: 15px;
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-left: 14px solid $grey;
                    border-bottom: 7px solid transparent;
                    border-right: 0px;
                }
            }

            span.contact {
                &:before {
                    content: "";
                    position: absolute;
                    left: -210px;
                    top: 15px;
                    width: 0px;
                    height: 0px;
                    border-top: 7px solid transparent;
                    border-left: 14px solid #bc99bc;
                    border-bottom: 7px solid transparent;
                    border-right: 0px;
                }
            }

            span.contact,
            span.blogs,
            span.about,
            span.work {
                &.open {
                    &:before {
                      border-left: 7px solid transparent;
                      border-top: 14px solid $grey;
                      border-right: 7px solid transparent;
                      border-bottom: 0px;
                    }
                }
            }

            @media only screen and (min-width: $large) {
                span.contact,
                span.about,
                span.work {
                  display: none;
                }
            }

            &.work {
                color: $purple;

            }

            &.about {
                color: $pink;

            }

            &.blogs {
                color: $lightblue;
            }

            &.contact {
                color: $blue;

            }
        }

        ul {
            list-style: none;
            padding: 0;
            display: none;
            text-align: center;
            font-size: 200%;
            line-height: $line-height*1.3;

            @media only screen and (min-width: $large) {
                display: block; 
                width: auto;
                font-size: 120%;
                line-height: $line-height*1.1;
            }

            &.open {
                display: inline-block;
                text-align: center;

                @media only screen and (min-width: $large) {
                    display: block;
                    width: auto;
                    text-align: center;
                }
            }

            li {
                a {
                    color: $white;
                    text-decoration: none;
                    -webkit-transition: color 0.4s ease;
                    -moz-transition: color 0.4s ease;
                    -o-transition: color 0.4s ease;
                    -ms-transition: color 0.4s ease;
                    transition: color 0.4s ease;

                    @media only screen and (min-width: $large) {
                        color: $darkgrey;
                        text-decoration: none;
                        -webkit-transition: color 0.4s ease;
                        -moz-transition: color 0.4s ease;
                        -o-transition: color 0.4s ease;
                        -ms-transition: color 0.4s ease;
                        transition: color 0.4s ease;
                        
                        &:hover {
                            color: $white;
                            -webkit-transition: color 0.4s ease;
                            -moz-transition: color 0.4s ease;
                            -o-transition: color 0.4s ease;
                            -ms-transition: color 0.4s ease;
                            transition: color 0.4s ease;
                        }
                    }
                }
            }
        }
    }
}

.content {
    width: 100%;
    min-height: 100%;
    background: $white;

    @media only screen and (min-width: $large) {
        float: left;
        width: 73%;
    }

    form {
        margin: auto;
        position: relative;
        width:100%;
        height:100%;
        font-style: italic;
        font-size: 150%;
        line-height: $line-height*1.1;
        font-weight: bold;
        color: $darkpurple;
        text-decoration: none;
        padding:10px;

        @media only screen and (min-width: $large) {
            font-size: 130%;
        }
    }

    textarea,
    select,
    input   {
        width: 100%;
        font-style: normal;
        display: block;
    }

    label {
        float: left;
        text-align: left;
        width: 100%;
    }

    .portfolio-item {
        background: $grey;

        &:before {
            content: "";
            position: absolute;
            width: 4px;
            background: darken($grey, 10%);
            top: 0px;
            left: 17px;
            bottom: 0px;
        }

        .portfolio-info {
            min-height: 100%;
            color: $darkgrey;
            padding: $padding*2 $padding*2 $padding*2 $padding*4;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;

            @media only screen and (min-width: $large) {
                float: left;
                width: 36%
            }

            .name {
                font-size: 300%;
                color: $black;
                padding-bottom: $padding*2;

                @media only screen and (min-width: $large) {
                    font-size: 150%;
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -29px;
                    top: 10px;
                    width: 0px;
                    height: 0px;
                    border-top: 12px solid transparent;
                    border-left: 24px solid $darkpurple;
                    border-bottom: 12px solid transparent;

                    @media only screen and (min-width: $large) {
                        content: "";
                        position: absolute;
                        left: -29px;
                        top: 0px;
                        width: 0px;
                        height: 0px;
                        border-top: 12px solid transparent;
                        border-left: 24px solid $darkpurple;
                        border-bottom: 12px solid transparent;
                    }
                }

                a:link {
                    color: $darkpurple;
                    text-decoration: none;
                }

                a:visited {
                    color: $purple;
                    text-decoration: none;
                }

                a:hover {
                    color: $pink;
                    text-decoration: none;
                }

            }

            .blog-date {
                font-size: 150%;

                @media only screen and (min-width: $large) {
                    font-size: 100%;
                }
            }

            .description {
                text-align: left;
                font-size: 180%;

                @media only screen and (min-width: $large) {
                    font-size: 110%;
                }
            }

            .meta {
                color: $darkpurple;
                margin-top: $margin;
                line-height: $line-height;
                font-size: 150%;

                @media only screen and (min-width: $large) {
                    font-size: 100%;
                }

                p {
                    margin: 0;
                }

                span {
                    font-weight: 700;
                }
            }

            .resume-category {
                color: $black;
                margin-bottom: $margin;

                &:before {
                    content: "";
                    position: absolute;
                    left: -29px;
                    top: 10px;
                    width: 0px;
                    height: 0px;
                    border-top: 12px solid transparent;
                    border-left: 24px solid $darkpurple;
                    border-bottom: 12px solid transparent;

                    @media only screen and (min-width: $large) {
                        content: "";
                        position: absolute;
                        left: -29px;
                        top: 0px;
                        width: 0px;
                        height: 0px;
                        border-top: 12px solid transparent;
                        border-left: 24px solid $darkpurple;
                        border-bottom: 12px solid transparent;
                    }
                }

                .resume-section {
                    font-size: 300%;
                    font-weight: 700;
                    font-style: italic;
                    color: $darkpurple;

                    @media only screen and (min-width: $large) {
                        font-size: 150%;
                    }
                }
            }
        }

        .portfolio-image {
            padding: $padding*2;
            background: $white;
            border-left: 1px solid darken($grey, 10%);
            text-align: center;


            @media only screen and (min-width: $large) {
                float: left;
                width: 64%;
            }

            img {
                width: 100%;
                max-width: 610px;
                height: auto;
            }

            .resume-body {
                padding-bottom: $padding*2;

                .resume-date {
                    float: right;
                    color: $darkpurple;
                    text-transform: uppercase;
                    margin: 0 0 $margin;
                    line-height: $line-height;
                    font-size: 150%;

                    @media only screen and (min-width: $large) {
                        font-size: 100%;
                    }
                }

                .resume-header {
                    color: $purple;
                    font-size: 200%;
                    font-weight: 400;
                    letter-spacing: -1px;
                    text-align: left;

                    @media only screen and (min-width: $large) {
                        font-size: 130%;
                    }
                }

                .resume-subheader {
                    color: $pink;
                    font-size: 150%;
                    font-weight: 400;
                    font-style: italic;
                    text-align: left;

                    @media only screen and (min-width: $large) {
                        font-size: 110%;
                    }
                }

                .resume-description {
                    color: $darkgrey;
                    text-align: left;
                    padding: $padding*1.5 0;
                    font-size: 150%;

                    @media only screen and (min-width: $large) {
                        font-size: 110%;
                    }
                }

                .resume-list {
                    list-style: inside;
                    text-align: left;
                    padding: $padding*1.5 0;
                    color: $darkgrey;
                    font-size: 150%;

                    @media only screen and (min-width: $large) {
                        font-size: 110%;
                    }

                    li {
                        list-style-type: disc;

                    }
                }

            }

            .blog-body {
                padding-bottom: $padding*2;

                .blog-post {
                    color: $darkgrey;
                    text-align: left;
                    padding: $padding*1.5 0;
                    font-size: 150%;

                    @media only screen and (min-width: $large) {
                        font-size: 110%;
                    }
                }
            }

            .error {
                background-color: $pink;
                color: $darkpurple;
            }
        }

    }
}