extends layout

block mainContent
    div.content
        article.portfolio-item.clearfix
            header.portfolio-info
                div.name Add Skill
            figure.portfolio-image.clearfix
                form(role="form" id='create-skill' action='/about/add-skill' method='post')
                    div
                        label(for="header") Skill Name 
                        input(type="text" id="header" name="header" placeholder="Enter Skill Name" autofocus)
                    div
                        label(for="date") Length of Knowledge 
                        input(type="text" id="date" name="date" placeholder="Enter Length, ie: NOVICE, 1 YEAR")
                    div
                        label(for="description") Description 
                        textarea(name="description" id="description" rows=15 placeholder="Enter Skill Description")
                    button(type="submit") Add Skill