extends layout

block mainContent
    div.content
        article.portfolio-item.clearfix
            header.portfolio-info
                div.name Add Project
            figure.portfolio-image.clearfix
                form(role="form" id='create' action='/projects' method='post')
                    div
                        label(for="name") Name 
                        input(type="text" id="name" name="name" placeholder="Enter Project Name" autofocus)
                    div
                        label(for="url") URL 
                        input(type="text" id="url" name="url" placeholder="Enter Project URL")
                    div
                        label(for="imgURL") Image URL 
                        input(type="text" id="imgURL" name="imgURL" placeholder="Enter Project Image URL")
                    div
                        label(for="description") Description 
                        textarea(name="description" id="description" rows=15 placeholder="Enter Project Description")
                    div
                        label(for="type") Type
                        select(name="type" id="type")
                            option(value="Client") Client
                            option(value="Personal") Personal
                    button(type="submit") Add Project