extends layout

block mainContent
    div.content
        - each blog in blogs
            article.portfolio-item.clearfix
                header.portfolio-info
                    div.name
                        if admin === 'jcurray'
                            a(href='/blogs/#{blog._id}/edit-blog')= blog.title
                        else
                            h1= blog.title
                    div.blog-date Posted on: #{blog.date.toDateString()}
                figure.portfolio-image.clearfix
                    div.blog-body
                        pre.blog-post= blog.post