extends layout

block mainContent
    div.content
        article.portfolio-item.clearfix
            header.portfolio-info
                div.resume-category
                    h1.resume-section#skills Skills
            figure.portfolio-image.clearfix
                div.resume-body
                    h2.resume-date NOVICE, 1 YEAR
                    h1.resume-header HTML5 & CSS3
                    h2.resume-subheader
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
                div.resume-body
                    h2.resume-date NOVICE, 1 YEAR
                    h1.resume-header JQUERY & JQUERYUI
                    h2.resume-subheader
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
                div.resume-body
                    h2.resume-date NOVICE, 1 YEAR
                    h1.resume-header JAVASCRIPT
                    h2.resume-subheader
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
                div.resume-body
                    h2.resume-date NOVICE, 1 YEAR
                    h1.resume-header NODE JS
                    h2.resume-subheader
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
                div.resume-body
                    h2.resume-date NOVICE, 1 YEAR
                    h1.resume-header JASMINE
                    h2.resume-subheader
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
            header.portfolio-info
                div.resume-category
                    h1.resume-section#experience Experience
            figure.portfolio-image.clearfix
                div.resume-body
                    h2.resume-date JAN 2014 - PRESENT
                    h1.resume-header Web Developer
                    h2.resume-subheader Dev League, Full-Time
                    ul.resume-list
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                div.resume-body
                    h2.resume-date SEP 2011 - JAN 2014
                    h1.resume-header Business Operations Analyst
                    h2.resume-subheader First Hawaiian Bank, Full-Time
                    ul.resume-list
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                div.resume-body
                    h2.resume-date NOV 2005 - AUG 2011
                    h1.resume-header ITS Student Assistant
                    h2.resume-subheader University of Hawaii, Part-Time
                    ul.resume-list
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit  
            header.portfolio-info
                div.resume-category
                    h1.resume-section#education Education
            figure.portfolio-image.clearfix
                div.resume-body
                    h2.resume-date 
                    h1.resume-header Dev League
                    h2.resume-subheader Javascript Coding Bootcamp
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
                div.resume-body
                    h2.resume-date 
                    h1.resume-header University of Hawaii
                    h2.resume-subheader BBA - Management Information Systems
                    p.resume-description Cras non nunc nisl. Mauris pretium auctor ornare. Proin sit amet erat consectetur massa suscipit congue. Pellentesque convallis rhoncus massa vitae sagittis.
