extends layout

block mainContent
    div.content
        - each project in projects
            article.portfolio-item.group.first
                header.portfolio-info
                    div.name
                        a(href='/projects/#{project._id}/edit')= project.name
                    div.description= project.description
                    div.meta
                        a(href='http://#{project.url}')= project.url
                figure.portfolio-image.group
                    img(src='#{project.imgURL}')