@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("normalize.css");
/* line 24, ../sass/styles.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../sass/styles.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../sass/styles.scss */
html,
body,
main {
  min-height: 100%;
}

/* line 45, ../sass/styles.scss */
body {
  color: #bcb2bc;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background: #1f001f;
}

/* line 55, ../sass/styles.scss */
#create,
#update,
#delete {
  color: black;
}

/* line 59, ../sass/styles.scss */
label {
  float: left;
  text-align: right;
  width: 30%;
}

/* line 67, ../sass/styles.scss */
input,
textarea,
select {
  width: 70%;
}

/* line 71, ../sass/styles.scss */
.sidebar {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 760px) {
  /* line 71, ../sass/styles.scss */
  .sidebar {
    float: left;
    width: 27%;
  }
}
/* line 80, ../sass/styles.scss */
.sidebar .my-info {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #5e5e5e;
}
/* line 85, ../sass/styles.scss */
.sidebar .my-info .portfolio-image {
  border-radius: 50%;
}
/* line 90, ../sass/styles.scss */
.sidebar .my-info h1,
.sidebar .my-info h2 {
  font-weight: normal;
}
/* line 95, ../sass/styles.scss */
.sidebar .my-info h1,
.sidebar .my-info .name {
  font-size: 150%;
}
/* line 99, ../sass/styles.scss */
.sidebar .my-info h2 {
  font-size: 100%;
  white-space: pre;
}
/* line 104, ../sass/styles.scss */
.sidebar .my-info .social {
  width: 60px;
  margin: 10px auto;
}
/* line 108, ../sass/styles.scss */
.sidebar .my-info .social a {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background: url(../images/social-sprite.png) no-repeat;
  text-indent: -9999px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  /* line 108, ../sass/styles.scss */
  .sidebar .my-info .social a {
    background: url(../images/social-sprite@2x.png) no-repeat;
    background-size: 51px 51px;
  }
}
/* line 121, ../sass/styles.scss */
.sidebar .my-info .social a.linkedin {
  background-position: -25px 0px;
}
/* line 124, ../sass/styles.scss */
.sidebar .my-info .social a.linkedin:hover {
  background-position: -25px -25px;
}
/* line 129, ../sass/styles.scss */
.sidebar .my-info .social a.github {
  background-position: 0px 0px;
}
/* line 132, ../sass/styles.scss */
.sidebar .my-info .social a.github:hover {
  background-position: 0px -25px;
}
/* line 140, ../sass/styles.scss */
.sidebar .menus {
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 140, ../sass/styles.scss */
  .sidebar .menus {
    padding: 20px 30px;
  }
}
/* line 147, ../sass/styles.scss */
.sidebar .menus h3 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: normal;
  padding-left: 25px;
  cursor: pointer;
  width: 20%;
  margin: 20px 110px 10px;
}
@media screen and (min-width: 360px) {
  /* line 147, ../sass/styles.scss */
  .sidebar .menus h3 {
    text-align: center;
    margin: 20px auto 20px;
  }
}
@media screen and (min-width: 760px) {
  /* line 147, ../sass/styles.scss */
  .sidebar .menus h3 {
    margin: 20px 0 10px 0;
  }
}
/* line 165, ../sass/styles.scss */
.sidebar .menus h3.work {
  color: #441e9a;
}
/* line 170, ../sass/styles.scss */
.sidebar .menus h3.about {
  color: #960f90;
}
/* line 175, ../sass/styles.scss */
.sidebar .menus h3.contact {
  color: #1b49c4;
}
/* line 181, ../sass/styles.scss */
.sidebar .menus ul {
  list-style: none;
  padding: 0;
  display: none;
  margin: 0 135px 10px;
  text-align: left;
}
@media screen and (min-width: 760px) {
  /* line 181, ../sass/styles.scss */
  .sidebar .menus ul {
    margin: 0 0 0 25px;
    display: block;
    width: auto;
  }
}
/* line 194, ../sass/styles.scss */
.sidebar .menus ul.open {
  display: inline-block;
  margin: 0 auto 10px 60px;
}
@media screen and (min-width: 760px) {
  /* line 194, ../sass/styles.scss */
  .sidebar .menus ul.open {
    margin: 0 0 0 25px;
    display: block;
    width: auto;
  }
}
/* line 206, ../sass/styles.scss */
.sidebar .menus ul li a {
  color: #5e5e5e;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
/* line 215, ../sass/styles.scss */
.sidebar .menus ul li a:hover {
  color: #ede0ed;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* line 229, ../sass/styles.scss */
.content {
  width: 100%;
  min-height: 100%;
  background: #ede0ed;
}
@media screen and (min-width: 760px) {
  /* line 229, ../sass/styles.scss */
  .content {
    float: left;
    width: 73%;
  }
}
/* line 239, ../sass/styles.scss */
.content .portfolio-item {
  background: #bcb2bc;
}
/* line 242, ../sass/styles.scss */
.content .portfolio-item .portfolio-info {
  min-height: 100%;
  color: #5e5e5e;
  padding: 20px 20px 20px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 760px) {
  /* line 242, ../sass/styles.scss */
  .content .portfolio-item .portfolio-info {
    float: left;
    width: 36%;
  }
}
/* line 256, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name {
  font-size: 150%;
  color: black;
  margin-bottom: 10px;
}
/* line 261, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:link {
  color: #1f001f;
  text-decoration: none;
}
/* line 266, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:visited {
  color: #441e9a;
  text-decoration: none;
}
/* line 271, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:hover {
  color: #960f90;
  text-decoration: none;
}
/* line 278, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .meta {
  color: black;
  margin-top: 10px;
}
/* line 282, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .meta p {
  margin: 0;
}
/* line 287, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .resume-category {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
/* line 292, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .resume-category .resume-section {
  font-size: 180%;
  font-weight: 700;
  font-style: italic;
  color: #1f001f;
}
/* line 301, ../sass/styles.scss */
.content .portfolio-item .portfolio-image {
  padding: 20px;
  background: #ede0ed;
  border-left: 1px solid #a497a4;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 301, ../sass/styles.scss */
  .content .portfolio-item .portfolio-image {
    float: left;
    width: 64%;
    border-bottom: 1px solid #5e5e5e;
  }
}
/* line 314, ../sass/styles.scss */
.content .portfolio-item .portfolio-image img {
  width: 100%;
  max-width: 610px;
  height: auto;
}
/* line 320, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 324, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-date {
  float: right;
  color: #1f001f;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 2px 10px;
}
/* line 332, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-header {
  color: #441e9a;
  font-size: 130%;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}
/* line 340, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-subheader {
  color: #960f90;
  font-size: 110%;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}
/* line 348, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-description {
  color: #5e5e5e;
  text-align: justify;
  padding: 15px 0;
}
/* line 354, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-list {
  list-style: inside;
  text-align: justify;
  padding: 15px 0;
  color: #5e5e5e;
}
/* line 360, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-list li {
  list-style-type: disc;
}
