@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("normalize.css");
/* line 24, ../sass/styles.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../sass/styles.scss */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../sass/styles.scss */
html,
body,
main {
  min-height: 100%;
  width: 100%;
}

/* line 46, ../sass/styles.scss */
body {
  color: #bc99bc;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background: #1f001f;
}

/* line 56, ../sass/styles.scss */
#create,
#update,
#delete {
  color: #1f001f;
}

/* line 61, ../sass/styles.scss */
.sidebar {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1000px) {
  /* line 61, ../sass/styles.scss */
  .sidebar {
    float: left;
    width: 27%;
  }
}
/* line 70, ../sass/styles.scss */
.sidebar .my-info {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #5e445e;
}
/* line 75, ../sass/styles.scss */
.sidebar .my-info .portfolio-image {
  border-radius: 50%;
}
/* line 80, ../sass/styles.scss */
.sidebar .my-info h1,
.sidebar .my-info h2 {
  font-weight: normal;
}
/* line 85, ../sass/styles.scss */
.sidebar .my-info h1,
.sidebar .my-info .name {
  font-size: 200%;
}
/* line 89, ../sass/styles.scss */
.sidebar .my-info h2 {
  font-size: 110%;
  white-space: pre;
  font-style: italic;
}
/* line 95, ../sass/styles.scss */
.sidebar .my-info .social {
  width: 60px;
  margin: 10px auto;
}
/* line 99, ../sass/styles.scss */
.sidebar .my-info .social a {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background: url(../images/social-sprite.png) no-repeat;
  text-indent: -9999px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  /* line 99, ../sass/styles.scss */
  .sidebar .my-info .social a {
    background: url(../images/social-sprite@2x.png) no-repeat;
    background-size: 51px 51px;
  }
}
/* line 112, ../sass/styles.scss */
.sidebar .my-info .social a.linkedin {
  background-position: -25px 0px;
}
/* line 115, ../sass/styles.scss */
.sidebar .my-info .social a.linkedin:hover {
  background-position: -25px -25px;
}
/* line 120, ../sass/styles.scss */
.sidebar .my-info .social a.github {
  background-position: 0px 0px;
}
/* line 123, ../sass/styles.scss */
.sidebar .my-info .social a.github:hover {
  background-position: 0px -25px;
}
/* line 130, ../sass/styles.scss */
.sidebar .my-info a {
  text-decoration: none;
}
/* line 133, ../sass/styles.scss */
.sidebar .my-info a .logout, .sidebar .my-info a .add {
  background-color: #bc99bc;
  width: 160px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  height: 25px;
  line-height: 1.4;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 700;
}
/* line 149, ../sass/styles.scss */
.sidebar .menus {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  /* line 149, ../sass/styles.scss */
  .sidebar .menus {
    padding: 20px 30px;
  }
}
/* line 156, ../sass/styles.scss */
.sidebar .menus h3 {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: normal;
  cursor: pointer;
  margin: 20px 110px 10px;
}
@media only screen and (min-width: 320px) {
  /* line 156, ../sass/styles.scss */
  .sidebar .menus h3 {
    margin: 20px auto 20px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 156, ../sass/styles.scss */
  .sidebar .menus h3 {
    margin: 20px 0 10px 0;
  }
}
/* line 172, ../sass/styles.scss */
.sidebar .menus h3 span.work:before {
  content: "";
  position: absolute;
  left: -125px;
  top: 7px;
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-left: 14px solid #bc99bc;
  border-bottom: 7px solid transparent;
  border-right: 0px;
}
/* line 187, ../sass/styles.scss */
.sidebar .menus h3 span.about:before {
  content: "";
  position: absolute;
  left: -129px;
  top: 7px;
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-left: 14px solid #bc99bc;
  border-bottom: 7px solid transparent;
  border-right: 0px;
}
/* line 202, ../sass/styles.scss */
.sidebar .menus h3 span.contact:before {
  content: "";
  position: absolute;
  left: -145px;
  top: 7px;
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-left: 14px solid #bc99bc;
  border-bottom: 7px solid transparent;
  border-right: 0px;
}
/* line 220, ../sass/styles.scss */
.sidebar .menus h3 span.contact.open:before,
.sidebar .menus h3 span.about.open:before,
.sidebar .menus h3 span.work.open:before {
  border-left: 7px solid transparent;
  border-top: 14px solid #bc99bc;
  border-right: 7px solid transparent;
  border-bottom: 0px;
}
@media only screen and (min-width: 1000px) {
  /* line 232, ../sass/styles.scss */
  .sidebar .menus h3 span.contact,
  .sidebar .menus h3 span.about,
  .sidebar .menus h3 span.work {
    display: none;
  }
}
/* line 237, ../sass/styles.scss */
.sidebar .menus h3.work {
  color: #441e9a;
}
/* line 242, ../sass/styles.scss */
.sidebar .menus h3.about {
  color: #960f90;
}
/* line 247, ../sass/styles.scss */
.sidebar .menus h3.contact {
  color: #1b49c4;
}
/* line 253, ../sass/styles.scss */
.sidebar .menus ul {
  list-style: none;
  padding: 0;
  display: none;
  text-align: center;
  font-size: 110%;
  line-height: 1.54;
}
@media only screen and (min-width: 1000px) {
  /* line 253, ../sass/styles.scss */
  .sidebar .menus ul {
    display: block;
    width: auto;
  }
}
/* line 266, ../sass/styles.scss */
.sidebar .menus ul.open {
  display: inline-block;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  /* line 266, ../sass/styles.scss */
  .sidebar .menus ul.open {
    display: block;
    width: auto;
    text-align: center;
  }
}
/* line 278, ../sass/styles.scss */
.sidebar .menus ul li a {
  color: #5e445e;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
/* line 287, ../sass/styles.scss */
.sidebar .menus ul li a:hover {
  color: #edcced;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* line 301, ../sass/styles.scss */
.content {
  width: 100%;
  min-height: 100%;
  background: #edcced;
}
@media only screen and (min-width: 1000px) {
  /* line 301, ../sass/styles.scss */
  .content {
    float: left;
    width: 73%;
  }
}
/* line 311, ../sass/styles.scss */
.content form {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  font-style: italic;
  font-size: 21px;
  line-height: 1.54;
  font-weight: bold;
  color: #1f001f;
  text-decoration: none;
  padding: 10px;
}
/* line 327, ../sass/styles.scss */
.content textarea,
.content select,
.content input {
  width: 100%;
  font-style: normal;
  display: block;
}
/* line 333, ../sass/styles.scss */
.content label {
  float: left;
  text-align: left;
  width: 100%;
}
/* line 339, ../sass/styles.scss */
.content .portfolio-item {
  background: #bc99bc;
}
/* line 342, ../sass/styles.scss */
.content .portfolio-item:before {
  content: "";
  position: absolute;
  width: 4px;
  background: #a87aa8;
  top: 0px;
  left: 17px;
  bottom: 0px;
}
/* line 352, ../sass/styles.scss */
.content .portfolio-item .portfolio-info {
  min-height: 100%;
  color: #5e445e;
  padding: 20px 20px 20px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1000px) {
  /* line 352, ../sass/styles.scss */
  .content .portfolio-item .portfolio-info {
    float: left;
    width: 36%;
  }
}
/* line 366, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name {
  font-size: 150%;
  color: black;
  margin-bottom: 10px;
}
/* line 371, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name:before {
  content: "";
  position: absolute;
  left: -29px;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 24px solid #1f001f;
  border-bottom: 12px solid transparent;
}
/* line 383, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:link {
  color: #1f001f;
  text-decoration: none;
}
/* line 388, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:visited {
  color: #441e9a;
  text-decoration: none;
}
/* line 393, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .name a:hover {
  color: #960f90;
  text-decoration: none;
}
/* line 400, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .description {
  text-align: left;
  font-size: 110%;
}
/* line 405, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .meta {
  color: #1f001f;
  margin-top: 10px;
  font-size: 100%;
}
/* line 410, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .meta p {
  margin: 0;
}
/* line 414, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .meta span {
  font-weight: 700;
}
/* line 419, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .resume-category {
  color: black;
  margin-bottom: 10px;
}
/* line 423, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .resume-category:before {
  content: "";
  position: absolute;
  left: -29px;
  top: 3px;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 24px solid #1f001f;
  border-bottom: 12px solid transparent;
}
/* line 435, ../sass/styles.scss */
.content .portfolio-item .portfolio-info .resume-category .resume-section {
  font-size: 200%;
  font-weight: 700;
  font-style: italic;
  color: #1f001f;
}
/* line 444, ../sass/styles.scss */
.content .portfolio-item .portfolio-image {
  padding: 20px;
  background: #edcced;
  border-left: 1px solid #a87aa8;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  /* line 444, ../sass/styles.scss */
  .content .portfolio-item .portfolio-image {
    float: left;
    width: 64%;
  }
}
/* line 456, ../sass/styles.scss */
.content .portfolio-item .portfolio-image img {
  width: 100%;
  max-width: 610px;
  height: auto;
}
/* line 462, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 466, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-date {
  float: right;
  color: #1f001f;
  text-transform: uppercase;
  margin: 0 0 10px;
  line-height: 1.4;
}
/* line 474, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-header {
  color: #441e9a;
  font-size: 130%;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}
/* line 482, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-subheader {
  color: #960f90;
  font-size: 110%;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}
/* line 490, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-description {
  color: #5e445e;
  text-align: justify;
  padding: 15px 0;
  font-size: 110%;
}
/* line 497, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-list {
  list-style: inside;
  text-align: left;
  padding: 15px 0;
  color: #5e445e;
  font-size: 110%;
}
/* line 504, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .resume-body .resume-list li {
  list-style-type: disc;
}
/* line 511, ../sass/styles.scss */
.content .portfolio-item .portfolio-image .error {
  background-color: #960f90;
  color: #1f001f;
}
